<mat-card>Ingrese los datos de los signos</mat-card>

<br/>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <div style="width: 100%">
    <mat-form-field style="width: 80%;">
      <input matInput placeholder="Paciente" aria-label="Paciente" [matAutocomplete]="auto" formControlName="paciente">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
        <mat-option *ngFor="let x of pacientes" [value]="x">
          {{x.dni}} - {{x.nombres}} {{x.apellidos}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <button *ngIf="!edicion" type="button" mat-raised-button (click)="openDialiog()">Nuevo paciente</button>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker" placeholder="Fecha" required formControlName="fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperatura" required formControlName="temperatura">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulso" required formControlName="pulso">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ritmo Respiratorio" required formControlName="ritmoRespiratorio">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/signos' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<br/>